In [86]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [92]:
data = pd.read_csv("S_temp_and_rain_dataset", sep=';')

FileNotFoundError: [Errno 2] No such file or directory: 'S_temp_and_rain_dataset'

In [54]:
data

      Date,Time,SO2,NO,NO2,NOX,CO,CO 8hr,O3,O3 8hr,PM2.5,PM10,Wind Speed,Wind Dir,Temperature,RH,Solar Rad,BP,Rain,V Wind Speed,
0                      11/1/2012,1:00,,,,,,,,,,,,,,,,,,,
1                      11/1/2012,2:00,,,,,,,,,,,,,,,,,,,
2                      11/1/2012,3:00,,,,,,,,,,,,,,,,,,,
3                      11/1/2012,4:00,,,,,,,,,,,,,,,,,,,
4                      11/1/2012,5:00,,,,,,,,,,,,,,,,,,,
...                                                  ...
58387                30/06/2019,20:00,,,,,,,,,,,,,,,,,,,
58388                30/06/2019,21:00,,,,,,,,,,,,,,,,,,,
58389                30/06/2019,22:00,,,,,,,,,,,,,,,,,,,
58390                30/06/2019,23:00,,,,,,,,,,,,,,,,,,,
58391             30/06/2019,24:00:00,,,,,,,,,,,,,,,,,,,

[58392 rows x 1 columns]

In [56]:
data.head()

  Date,Time,SO2,NO,NO2,NOX,CO,CO 8hr,O3,O3 8hr,PM2.5,PM10,Wind Speed,Wind Dir,Temperature,RH,Solar Rad,BP,Rain,V Wind Speed,
0                  11/1/2012,1:00,,,,,,,,,,,,,,,,,,,
1                  11/1/2012,2:00,,,,,,,,,,,,,,,,,,,
2                  11/1/2012,3:00,,,,,,,,,,,,,,,,,,,
3                  11/1/2012,4:00,,,,,,,,,,,,,,,,,,,
4                  11/1/2012,5:00,,,,,,,,,,,,,,,,,,,

In [58]:
data.shape

(58392, 1)

In [60]:
data.index

RangeIndex(start=0, stop=58392, step=1)

In [62]:
data.columns

Index(['Date,Time,SO2,NO,NO2,NOX,CO,CO 8hr,O3,O3 8hr,PM2.5,PM10,Wind Speed,Wind Dir,Temperature,RH,Solar Rad,BP,Rain,V Wind Speed,'], dtype='object')

In [64]:
data['Date'].value_counts()

KeyError: 'Date'

In [66]:
data.nunique()

Date,Time,SO2,NO,NO2,NOX,CO,CO 8hr,O3,O3 8hr,PM2.5,PM10,Wind Speed,Wind Dir,Temperature,RH,Solar Rad,BP,Rain,V Wind Speed,    58054
dtype: int64

In [68]:
(data.info())
(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58392 entries, 0 to 58391
Data columns (total 1 columns):
 #   Column                                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                                      --------------  -----
 0   Date,Time,SO2,NO,NO2,NOX,CO,CO 8hr,O3,O3 8hr,PM2.5,PM10,Wind Speed,Wind Dir,Temperature,RH,Solar Rad,BP,Rain,V Wind Speed,  58392 non-null  object
dtypes: object(1)
memory usage: 456.3+ KB

       Date,Time,SO2,NO,NO2,NOX,CO,CO 8hr,O3,O3 8hr,PM2.5,PM10,Wind Speed,Wind Dir,Temperature,RH,Solar Rad,BP,Rain,V Wind Speed,
count                                               58392
unique                                              58054
top                     5/2/2018,20:00,,,,,,,,,,,,,,,,,,,
freq                                                    2

In [70]:
data = data.dropna()

In [72]:
data = data.drop_duplicates()

In [74]:
data

      Date,Time,SO2,NO,NO2,NOX,CO,CO 8hr,O3,O3 8hr,PM2.5,PM10,Wind Speed,Wind Dir,Temperature,RH,Solar Rad,BP,Rain,V Wind Speed,
0                      11/1/2012,1:00,,,,,,,,,,,,,,,,,,,
1                      11/1/2012,2:00,,,,,,,,,,,,,,,,,,,
2                      11/1/2012,3:00,,,,,,,,,,,,,,,,,,,
3                      11/1/2012,4:00,,,,,,,,,,,,,,,,,,,
4                      11/1/2012,5:00,,,,,,,,,,,,,,,,,,,
...                                                  ...
58387                30/06/2019,20:00,,,,,,,,,,,,,,,,,,,
58388                30/06/2019,21:00,,,,,,,,,,,,,,,,,,,
58389                30/06/2019,22:00,,,,,,,,,,,,,,,,,,,
58390                30/06/2019,23:00,,,,,,,,,,,,,,,,,,,
58391             30/06/2019,24:00:00,,,,,,,,,,,,,,,,,,,

[58054 rows x 1 columns]

In [76]:
import pyodbc as odbc #pip install pyodbc 

DRIVER_NAME = 'SQL SERVER'                      #connect notebook to sql server
SERVER_NAME = 'DESKTOP-7FRNU14\SQLEXPRESS'
DATABASE_NAME = 'S_temp_and_rain_dataset'

#uid<kingC>;
#pwd<12345>;
connection_string = f"""
    DRIVER={{{DRIVER_NAME}}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trust_Connection = yes;
    

"""
conn = odbc.connect(connection_string)
print(conn)

<pyodbc.Connection object at 0x000001DD7B2C79E0>

<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
C:\Users\utsa7\AppData\Local\Temp\ipykernel_14020\2928431948.py:4: SyntaxWarning: invalid escape sequence '\S'
  SERVER_NAME = 'DESKTOP-7FRNU14\SQLEXPRESS'

In [78]:
data.groupby(data['Date'].dt.date)['NO2'].mean().plot()
plt.title("Daily NO2 Levels")
plt.show()

KeyError: 'Date'

In [82]:
sns.histplot(data['Temperature'], bins=20, kde=True)
plt.title('Distribution of Patient Age')
plt.show()

KeyError: 'Temperature'